/* reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: #ffffff;
    text-decoration: none;
}

/* style page */
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(4, 4, 4);
    display: grid;
    place-items: center;
    overflow: hidden;
}

.handBgImage{
    background-image: url("images/hand_bg_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.iconContainer{
    width: 90vh;
    height: 90vh;
    position: relative;
    display: flex;
    gap: 50px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.icons{
    width: 9%;
    height: 9%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.icon_num_1 {
    top: 0;
    left: calc(50% - 4.5%);
}

.icon_num_2 {
    top: 8%;
    right: 24%;
}

.icon_num_3 {
    top: 24%;
    right: 8%;
    font-size: 45px;
}

.icon_num_4 {
    top: calc(50% - 4.5%);
    right: 0;
}

.icon_num_5 {
    bottom: 24%;
    right: 8%;
}

.icon_num_6 {
    bottom: 8%;
    right: 24%;
    font-size: 45px;
}

.icon_num_7 {
    bottom: 0;
    left: calc(50% - 4.5%);
    font-size: 45px;
}

.icon_num_8 {
    bottom: 8%;
    left: 24%;
        padding-top: 5px;
}

.icon_num_9 {
    left: 8%;
    bottom: 24%;
}

.icon_num_10 {
    top: calc(50% - 4.5%);
    left: 0;
}

.icon_num_11 {
    left: 8%;
    top: 24%;
    font-size: 45px;
}

.icon_num_12 {
    top: 8%;
    left: 24%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: -3px;
    padding-bottom: 10px;
}

.searchIcon{
    position: absolute;
    font-size: 60px;
    cursor: pointer;
}

.exitIcon{
    font-size: 25px;
    cursor: pointer;
    display: none;
}

/* colorfull ways */
.colorfulWays{
    width: 15vw;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.rightWay{
    right: 0;
}

.leftWay{
    left: 0;
}

.colorWaves{
    width: 10%;
    height: 40vh;
    border-radius: 20px;
    position: absolute;
    top: 100%;
}

/* search bar */
.searchInput{
    position: absolute;
    width: 450px;
    font-size: 25px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 50px;
    /* background: linear-gradient(to right, #718c7c, #8f7948, #8a4245); */
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.searchInput:focus{
    outline: 0;
}